html{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: borderbox;}


.header{
    background-color: #a4f1e1b9;
    position: relative;
    height:100rem;
    
}

.header-text{ 
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    letter-spacing: 0.27rem;
    font-size: 4rem;
    font-family: 'Solway', serif;
    text-align: center;
    color: rgb(15, 13, 143);
   
}

.pic{
    width: 80rem;
    opacity:85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
}


