html{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: borderbox;


.header {
    height: 100vh;
    background-color: linear-gradient(
        rgba(164, 241, 225, 0.726);
    position: relative;


.header-text{ 
    position: absolute;
    top: 50%;
    left: 50%; 
    color: navy;
    transform: translate (-50%, -50%);
    height: 30vh;
    
}

.test1{
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-family: 'Solway', serif;
}

